templates/logicappworkflow.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppWorkFlowAPIVersion": {
            "type": "string",
            "defaultValue": "2019-05-01",            
            "metadata": {
                "description": "Logic App WorkFlow API Version"
            }
        },
        "WorkFlowName": {
            "type": "string",
            "defaultValue": "Get-MessageTracing-Stateful",
            "metadata": {
                "description": "Name of Workflow"
            }
        }                              
    },
    "variables": {
    },    
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "[parameters('LogicAppWorkFlowAPIVersion')]",
            "location": "[resourceGroup().location]",
            "name": "[parameters('WorkFlowName')]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },                    
                    "actions": {
                        "Get_secret": {
                            "inputs": {
                                "parameters": {
                                    "secretName": "SecretName"
                                },
                                "serviceProviderConfiguration": {
                                    "connectionName": "LAMT-20230313163538",
                                    "operationId": "getSecret",
                                    "serviceProviderId": "/serviceProviders/keyVault"
                                }
                            },
                            "runAfter": {},
                            "type": "ServiceProvider"
                        },
                        "HTTP": {
                            "inputs": {
                                "authentication": {
                                    "password": "@body('Get_secret')?['value']",
                                    "type": "Basic",
                                    "username": "username@manageddomain.onmicrosoft.us"
                                },
                                "headers": {
                                    "Accept": "application/octet-stream"
                                },
                                "method": "GET",
                                "uri": "https://outlook.office365.us/ecp/reportingwebservice/reporting.svc/MessageTrace?$format=json"
                            },
                            "runAfter": {
                                "Get_secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "d": {
                                            "properties": {
                                                "results": {
                                                    "items": {
                                                        "properties": {
                                                            "EndDate": {
                                                                "type": "string"
                                                            },
                                                            "FromIP": {},
                                                            "Index": {
                                                                "type": "integer"
                                                            },
                                                            "MessageId": {
                                                                "type": "string"
                                                            },
                                                            "MessageTraceId": {
                                                                "type": "string"
                                                            },
                                                            "Organization": {
                                                                "type": "string"
                                                            },
                                                            "Received": {
                                                                "type": "string"
                                                            },
                                                            "RecipientAddress": {
                                                                "type": "string"
                                                            },
                                                            "SenderAddress": {
                                                                "type": "string"
                                                            },
                                                            "Size": {
                                                                "type": "integer"
                                                            },
                                                            "StartDate": {
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "type": "string"
                                                            },
                                                            "Subject": {
                                                                "type": "string"
                                                            },
                                                            "ToIP": {},
                                                            "__metadata": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "uri": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "__metadata",
                                                            "Organization",
                                                            "MessageId",
                                                            "Received",
                                                            "SenderAddress",
                                                            "RecipientAddress",
                                                            "Subject",
                                                            "Status",
                                                            "ToIP",
                                                            "FromIP",
                                                            "Size",
                                                            "MessageTraceId",
                                                            "StartDate",
                                                            "EndDate",
                                                            "Index"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "For_each": {
                            "actions": {
                                "Send_Data": {
                                    "inputs": {
                                        "body": "@{items('For_each')}",
                                        "headers": {
                                            "Log-Type": "Message_Tracking_Logs"
                                        },
                                        "host": {
                                            "connection": {
                                                "referenceName": "azureloganalyticsdatacollector"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/logs"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            },
                            "foreach": "@body('Parse_JSON')?['d']?['results']",
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }                        
                    }
                }                
            }
        }        
    ]
}